* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0px;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    font-size:1.5em;
    border-bottom: 1px solid royalblue;
}
h2 {
    font-size:1.3em;
    border-bottom: 1px solid #e9e9e9;
}
.hero {
    background-color: #e9e9e9;
    text-align: center;
    padding: 2em;
}
.fork {
    position: absolute;
    right: 0;
    top: 0;
}
.hero-nav {
    background-color: royalblue;
    padding: .5em;
    color: white;
    font-size: 1.5em;
}
.hero-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.hero-nav ul > li {
    flex: none;
}
.hero-nav ul > li:before {
    content: "|";
    color: #c9c9c9;
    margin-left: 1em;
    margin-right: 1em;
}
.hero-nav ul > li:first-child::before {
    display: none;
}
.hero-nav a {
    color: white;
    text-decoration: none;
}
.hero-nav a:hover {
    color: #e9e9e9;
    text-decoration: none;
}
.content {
    position: relative;
    max-width: 50em;
    margin: 3em auto 3em;
    padding: 0 1.5em;
    /* text-align: justify; */
}
.content li {
    margin-bottom: .5em;
}
pre, code {
    font-family: monaco, Consolas, "Lucida Console", monospace;
}

code {
    padding: 0.2em 0.4em;
    font-size: 0.9em;
    background: #f6f7f8;
    color: #333;
    border-radius: 0.25rem;
}

pre {
    padding: 1rem;
    border-radius: 0.25rem;
    overflow: auto;
    background: #f6f7f8;
    color: #333;
}

pre code {
    padding: 0;
    background: transparent;
    color: inherit;
    border-radius: none;
}

.content .anchor svg {
    visibility: hidden;
}

.content .anchor:hover svg,
.content h1:hover .anchor svg,
.content h2:hover .anchor svg,
.content h3:hover .anchor svg
{
    visibility: visible;
}

.content .anchor {
  float: left;
  line-height: 2em;
  margin-left: -20px;
  fill: currentColor;
  width: 20px;
  /* padding-right: 4px */
}

.content .anchor:focus {
  outline: none
}

.octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-top;
    width: 16px;
    height: 16px;
    overflow: hidden;
    color: black;
}